{
	admin off
	persist_config off
	servers {
		protocols h1 h2
	}
}

${join(", ", concat([for name in names : "${name}.${domain}"], [for name in names : "http://${name}.${domain}"]))} {
	redir https://${domain}/{labels.2}{uri} 301
}

http:// {
	respond 404
}

https:// {
	respond 404
}
